@import url('https://use.typekit.net/bnx8rdq.css');

$sans-serif: 'itc-avant-garde-gothic-pro', sans-serif;
$serif: 'itc-benguiat', serif;
$red: #f53317;

body{
  font-family: $sans-serif;
  font-weight: 500;
  font-style: normal;
  background:#000000;
  color:#ffffff;
  font-size:1rem;
}

h1{
  font-family: $serif;
  font-weight: 700;
  font-style: normal;
}
